

.vs/
.user
.idea
out/
build/
Docs/html
Docs/latex

cmake-build-*/


*.vpp.bak*
CMakeLists.txt.user
CMakeSettings.json
*.class
*.iml
**/target

JCryoStorm/*.dll

JCryoStorm/CsCore/src/main/resources/natives/*.dll