

.vs/
.user
.idea
out/
build/
Docs/html
Docs/latex

cmake-build-*/

Docs/Reference/book

*.vpp.bak*
CMakeLists.txt.user
CMakeSettings.json
*.class
*.iml
**/target

JCryoStorm/*.dll

JCryoStorm/CsCore/src/main/resources/natives/*.dll
JCryoStorm/CsEngineResources/src/main/resources/engine/**
hs_err_pid*.log